<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Đăng nhập</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <main class="container">
        <div th:replace="base :: header"></div>
        <h1 class="text-center text-info mt-1">DANG NHAP</h1>

        <form th:action="@{/login}" method="post">
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">Ten dang nhap:</label>
                <input type="text" class="form-control" id="username" placeholder="Ten dang nhap..." name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mat khau:</label>
                <input type="password" class="form-control" id="password" placeholder="Mat khau..." name="password">
            </div>

            <button type="submit" class="btn btn-primary">Dang nhap</button>
        </form>

        <div th:replace="base :: footer"></div>
    </main>
</body>
